#visual {
    width: 100%;
    .inner{
        width: 1180px; height: 620px; 
         margin: 0px auto; margin-bottom: 50px;background-repeat: no-repeat;background-size:cover; background-position: center;
        background-image: url("../img/top.png");
    }
}


//tablet 
@media screen and (max-width:$tablet){
    #visual {
        .inner{
            width: 100%;            
        }
    }
}
//mobile 
@media screen and (max-width:$mobile){
    #visual {
        background:lightblue; height:250px;
    }
}